:root {
    /* color */
    --primary-color: #fbdb6e;
    --secondary-color: #3d90fe;
    --third-color: #f2be32;
    --forth-color: #fef9ef;
    --fifth-color: #e2e6f3;

    --black-color: #000000;

    /* font */
    --font-base: 1.6rem;

    --font-exsmall: 1.2rem;
    --font-small: 2.4rem;
    --font-medium: 3.2rem;
    --font-large: 4.8rem;
    --font-exlarge:7.2rem;

    --page-title: 14rem;

    /* margint */
    --page-title-mt: 9.6rem;
}

html,body {
background-color: var(--secondary-color);
font-family: 'NexonLv1Gothic',sans-serif;
font-weight: 400;
}

.folder_img {
position: absolute;
bottom:0;
left: 50%;
transform: translateX(-50%);
width: 70rem;
height: 48rem;
}

.folder_img .back,
.folder_img .front {
width: 100%;
height: 100%;
border-radius: 2.4rem 2.4rem 0 0;
}

.folder_img .back {
position: relative;
background-color: var(--third-color);
}

.folder_img .back::after{
content:'';
position: absolute;
top: 1px;
left:10%;
transform: translateY(-100%);
width: 33%;
height: 8%;
background-color: var(--third-color);
clip-path: polygon(
    14% 0%,
    86% 0%,
    100% 100%,
    0% 100%
);

}

.folder_img .inside {
position: absolute;
bottom: 0;
left: 50%;
width: 90%;
height: 95%;
background-color: #ebeef3;
transform-origin: bottom left;
transform: translateX(-50%) skewX(-4deg);
}

.folder_img .front {
position: absolute;
background-color: var(--primary-color);
bottom:0;
transform: skewX(-12deg) scaleY(0.9);
transform-origin: bottom left;
}

.folder_img .front .txt {
display:block;
text-align: center;
font-family: 'Nanum Pen Script',sans-serif;
font-size: var(--font-large);
padding-top: 4.8rem;
color: var(--third-color);
}


@keyframes folder_open {
    0% {
        transform: skewX(0deg);
    }
    100% {
        transform: skewX(-12deg) scaleY(0.9);
    }
}


.footer {
    position: fixed;
    bottom: 0;
    left: 0;
    display: flex;
    align-items: center;
    width: 100%;
    height: 4.8rem;
    padding: 0 1.2rem;
    background-color: var(--primary-color);
    color: var(--secondary-color);
    font-size: var(--font-exsmall);
    z-index: 1;
}

/* 
### pc 
*/
main > section {
    position: relative;
    display: block;
    width: 100%;
    max-width: 140rem;
    min-height: 100vh;
    margin: 0 auto;
    box-sizing: border-box;
    overflow-x: hidden;
}


section > .section_title {
    padding-top: var(--page-title-mt);
    font-family: 'LotteMartHappiness',sans-serif;
    font-size: var(--page-title);
    font-weight: 700;
    color:var(--primary-color);
}



/* ## section_01 */
.section_01.on .folder_img .front {
    animation: folder_open 1s ease-in-out alternate;
}


.section_01 h1.title{
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    width: 100%;
    padding-top: 4.8rem;
    text-align: center;
    font-family: 'LotteMartHappiness',sans-serif;
    font-weight: 700;
    font-size: 18rem;
    color: var(--primary-color);
    white-space: nowrap;
    letter-spacing: -1%;
}

.section_01 h1.title span {
    flex:0;
    display: inline-block;
    line-height: 1;
    margin: 0 1.2rem 0 1.2rem;
    background-color: var(--primary-color);
    color: var(--secondary-color);
    font-size: 0.55em;
    transform-origin: center;
    transform: rotate(12deg);
}


.section_01 .pop_txt {
    position: absolute;
    color:var(--primary-color);
    font-family: 'NexonLv1Gothic',sans-serif;
    font-size: var(--font-medium);
    font-weight: 400;
}

.section_01 .pop_txt_01 {
    top: 35%;
    left: 70%;
}

.section_01 .pop_txt_02 {
    bottom: 25%;
    left: 80%;
}

.section_01 .pop_txt_03 {
    bottom: 5%;
    left: 10%;
}

/* ## section_02 */
.section_02 .contents_grid{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(2, 1fr);
    margin-top: var(--page-title-mt);
    gap: 4.8rem 0;
}

.section_02 .contents_01{
    grid-column: span 1 / span 1;
    grid-row: span 1 / span 1;
}

.section_02 .contents_02{
    grid-column: span 2 / span 2;
    grid-row: span 1 / span 1;
    grid-column-start: 2;
}

.section_02 .contents_03{
    grid-column: span 5 / span 5;
    grid-row: span 2 / span 2;
    grid-row-start: 2;
}

.section_02 .contents_grid .txt {
    display: block;
    line-height: 1.5;
    text-align: left;
    font-size: var(--font-medium);
    color: var(--primary-color);
}

.section_02 .contents_grid .txt a {
    display:inline-block;
    width: 2.8rem;
    height: 2.8rem;
    background: url(../image/icon/maps-and-flags.png) no-repeat center;
    background-size: contain;
}

.section_02 .contents_grid .txt strong {
    display: inline-block;
    min-width: 12rem;
    text-align: left;
}

.section_02 .contents .skills span,
.section_02 .contents_grid .accent {
    display: inline-block;
    background-color: var(--primary-color);
    color: var(--secondary-color);
}

.section_02 .contents_grid .accent {
    padding: 0.2rem 1.6rem;
    margin: 0 0 1rem;
}

.section_02 .contents .skills {
    margin-top: 1rem;
}

.section_02 .contents .skills span {
    flex:0;
    padding: 0.2rem 1.2rem;
    font-size: var(--font-base);
    border-radius: 1.6rem;
}

.section_02 .folder_img {
    position: absolute;
    bottom: 5%;
    left: unset;
    right: 5%;
    width: 40rem;
    height: 32rem;
    transform: rotate(-13deg);
}

.section_02 .folder_img .inside {
    transition: all 0.1s ease-out ;
}

.section_02.on .folder_img .inside {
    bottom: 20%;
    transform: rotate(-45deg);
    background-color: var(--fifth-color);
}

.section_02.on .folder_img .inside.photo {
    bottom: 50%;
    width: 32rem;
    height: 40rem;
    transform: translate(-60%,-30%) rotate(21deg);
    background-color: var(--forth-color);
}

.section_02 .folder_img .inside.photo::after {
    content:'';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url(../image/main_img.jpg);
    background-size: cover;
    clip-path: inset(5% 5% 5% 5%);
}

/* ## section_03 */
.section_03 .section_03_swiper {
    margin-top: 4.8rem;
}

.section_03_swiper .project_item{
    display: flex;
    flex-direction: column;
    min-height: 45rem;
    background-color: var(--forth-color);
    border-radius: 2rem;
    padding: 2.4rem;
    box-sizing: border-box;
    gap: 2.4rem;
}

.section_03_swiper .project_item .thumbnail {
    display:flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 20rem;
    background-color: var(--fifth-color);
}

.section_03_swiper .project_item .thumbnail img {
    max-width: 80%;
}

.section_03_swiper .project_item .contents {
    display: flex;
    flex-direction: column;
    gap: 1.2rem;
}

.section_03_swiper .project_item .project_tags {
    display: inline-flex;
    line-height: 1;
    gap: 0.8rem;
    flex-wrap: wrap;
}

.section_03_swiper .project_tags .tag {
    display: inline-block;
    min-width: 4.8rem;
    line-height: 1;
    background-color: var(--secondary-color);
    border-radius: 3.2rem;
    padding: 0.4rem 1.2rem;
    font-size: var(--font-exsmall);
    color: var(--forth-color)
}

.section_03_swiper .project_tags .tag.accent {
    background-color: var(--third-color);
    color: var(--black-color);
}

.section_03_swiper .project_item .project_desc {
    line-height: 2.2;
    font-size: var(--font-base);
    letter-spacing: -5%;
    word-spacing: -5%;
    word-break: break-all;
}

.section_03 .swiper-button-wrapper {
    position: relative;
    margin-top: 4.8rem;
    text-align: center;
    z-index: 1;
}

.section_03 .swiper-button-wrapper div[class^='swiper-button'] {
    position: relative;
    display: inline-flex;
    width: 4.8rem;
    height: 4.8rem;
    margin: 0 1rem;
    background: url(../image/icon/right-arrow.png) no-repeat center;
    background-size: contain;
}
.section_03 .swiper-button-wrapper .swiper-button-prev {
    transform: rotate(180deg);
}

.section_03 .swiper-button-wrapper .swiper-navigation-icon {
    display: none;
}

/* ## section_04 */


.section_04 {
    display: flex;
    align-items: center;
}

.section_04 .txt_contents {
    margin-top: var(--page-title-mt);
}

.section_04 .txt_contents [class^='txt']{
    display: block;
    color: var(--primary-color);
    word-break: break-all;
}

.section_04 .txt_contents .txt_sub{
    font-family: 'NexonLv1Gothic',sans-serif;
    font-weight: 400;
    font-size: var(--font-large);
}

.section_04 .txt_contents .txt_main{
    font-family: 'LotteMartHappiness',sans-serif;
    font-weight: 700;
    font-size: var(--font-exlarge);
}

.section_04 .txt_contents .txt_description {
    line-height: 1.5;
    margin: 4.8rem 0 0;
    font-family: 'NexonLv1Gothic',sans-serif;
    font-weight: 300;
    font-size: var(--font-small);
}

.section_04 .link_contents {
    display: flex;
    gap: 2.4rem;
    margin: 14.4rem 0 0;
}

.section_04 .link_contents > a {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    min-width: 12.4rem;
    height: 4.8rem;
    border-radius: 4.8rem;
    background-color: var(--primary-color);
    color: var(--secondary-color);
    font-size: var(--font-base);
    font-weight: 400;
}

.section_04 .folder_group {
    position: absolute;
    bottom: 5%;
    right: 32%;
}

.section_04 .folder_img {
    width: 36rem;
    height: 28rem;
    transform: translateX(0);
    transition: all 1s ease-in-out;
}

.section_04.on .folder_01 {
    transform: translateX(0) rotate(-13deg);
}

.section_04.on .folder_02 {
    transform: translate(0,-100%) rotate(13deg);
}

.section_04.on .folder_03 {
    transform: translate(0,-200%) rotate(-22deg);
}

/* 
## 반응형
*/

@media (max-height: 1080px) {
    .folder_img {
        width: 50dvw;
        max-width: 70rem;
        height: 35dvw;
        max-height: 48rem;
    }
}

@media (max-width: 1480px) {

    :root {
        /* font */
        --font-base: 1.2rem;

        --font-exsmall: 1rem;
        --font-small: 1.6rem;
        --font-medium: 2.8rem;
        --font-large: 3.6rem;
        --font-exlarge: 5.2rem;
        
        --page-title: 10rem;

        /* margin */
        --page-title-mt: 8rem;
    }

    main > section {
        padding: 0 1.6rem;
    }

    /* .folder_img {
        width: 45dvw;
        height: 32dvw;
    } */

    .section_01 h1.title {
        font-size: 12.5dvw;
    }

    .section_01 .pop_txt {
        position: relative;
        top: 0;
        left: 0;
        display: inline-block;
        margin: 4.8rem 2rem 0 0;
    }

    .section_04 .folder_img {
        width: 28rem;
        height: 20rem;
    }

}

@media (max-width: 1280px) {
    .section_01 h1.title {
        font-size: 12dvw;
    } 

    .section_02 .contents_grid {
        display: flex;
        flex-direction: column;
    }
}

@media (max-width: 991px) {

    .section_02 .contents_grid .txt a {
        width: 2rem;
        height: 2rem;
    }

    .section_03 .swiper-button-wrapper div[class^='swiper-button'] {
        width: 3.2rem;
        height: 3.2rem;
    }

    .section_02 .folder_img,
    .section_04 .folder_img {
        display: none;
    }
}

@media (max-width: 767px) {

    .pc {
        display: none;
    }
    
    :root {
        /* font */
        --font-base: 1.2rem;

        --font-exsmall: 1rem;
        --font-small: 1.6rem;
        --font-medium: 2rem;
        --font-large: 3.6rem;
        --font-exlarge: 5.2rem;
        
        --page-title: 6rem;

        /* margin */
        --page-title-mt: 5.4rem;
    }

    main > section {
        min-height: unset;
    }

    .folder_img {
        position: relative;
    }

    .folder_img .back, .folder_img .front {
        border-radius: 1.2rem 1.2rem 0 0;
    }

    .folder_img .front .txt {
        padding-top: 2rem;
        font-size: var(--font-exsmall)
    }

    .section_01 .folder_img {
        margin-top: 9.6rem;
    }

    .section_01 h1.title {
        display: block;
        font-size: 4.8rem;
        white-space: wrap;
    }

    .section_01 h1.title > * {
        display: inline-block;
    }

    .section_01 h1.title span {
        margin: 0 0 0 -0.8rem;
    }

    .section_02 .contents_grid .txt strong {
        min-width: 8rem;
    }

    .section_04 {
        display: block;
    }
}